.main {
    @include flexCenter(center,center);
    flex-direction: column;
    font-family: 'Noto Sans TC', sans-serif;
    padding: 20px 0;
    .new-note {
        @include flexCenter(center,center);
        flex-direction: column;
        box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
        padding: 16px 8px;
        border-radius: 8px;
        background: #F7E999;
        h2 {
            font-size: 28px;
            padding: 4px 0 12px;
            color: rgb(73, 73, 73);
        }
        input {
            background-color: rgba(255, 255, 255, 0);
            border: none;
            background-color: rgba(255, 255, 255, 0.74);
            border-radius: 8px;
            padding: 8px;
            margin: 4px 0;
            width: 90%;
            
        }
        input:focus {
            outline: none;
        }
        textarea {
            border: none;
            margin: 4px 0;
            background-color: rgba(255, 255, 255, 0.74);
            border-radius: 8px;
            padding: 8px;
            width: 90%;
        }
        textarea:focus {
            outline: none;
        }
        button {
            border: none;
            background-color: rgba(255, 255, 255, 0.74);
            color: rgb(70, 70, 70);
            border-radius: 8px;
            padding: 8px 16px;
            margin: 4px 0;
            cursor: pointer;
        }
    }
    .notes {
        @include flexCenter(center,center);
        flex-wrap: wrap
    }
    .note {
        @include flexCenter(center,flex-start);
        flex-direction: column;
        position: relative;
        box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
        padding: 8px;
        border-radius: 8px;
        width: 235px;
        padding: 24px 8px; 
        position: relative;
        color:#4b453c;
        background: #F7E999;
        line-height: 140%; 
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
        margin: 12px;
        min-height: 200px;
        word-wrap: break-word;
        word-break: break-all;
        &:before  {
            display: block;
            content: ""; 
            background: rgba(227, 200, 114, 0.40);
            width: 130px;
            height: 28px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            border-radius: 6px/18px 0;
            position: absolute;
            top: -13px;
            left: 50px;
        }
    }
    a {
        font-size: 28px;
        text-decoration: none;
        color: rgb(44, 44, 44);
    }
    .description {
        display: block;
        word-wrap: break-word;
        margin: 12px;
        font-size: 16px;
    }
    .close {
        position: absolute;
        top: 8px;
        right: 8px;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        cursor: pointer;
    }
    .date {
        font-size: 12px;
        color: rgb(44, 44, 44);
        font-weight: 500;
    }
}


body {
	background: url(https://i.imgur.com/2BdQt0g.jpg); 
	margin:0;
	padding:0; 
}

.note:nth-child(2n+1){
    background: #b9dcf4;
	transform: rotate(-2deg);
}
.note:nth-child(3n+1){
    background: #FFBDA3;
	transform: rotate(3deg);
}
.note:nth-child(4n+1){
    background: #CAF4B9;
	transform: rotate(-1deg);
}